{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block body %}
	<a href="{{path('app_sujet_add')}}">Ajouter un sujet</a>
<pre>
{{dump(truc2)}}
</pre>
{% endblock %}
